.container {
  display: flex;
  border: 1px solid #e8e8e8;
  padding: 8px 12px;
  background: white;
  flex-direction: column;
}

.position {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-left: 8px;
}