.container {
  height: 100%;
  background-color: lighten(#001529, 90);
}

.button {
  &:hover {
    cursor: pointer;
  }

  &--disabled {
    filter: grayscale(100%);

    &:hover {
      cursor: default;
    }
  }
}

.tabs {
  &--collapsed {
    height: auto;
  }
  
  :global(.ant-tabs-nav) {
    height: 48px;
  }

  :global(.ant-tabs-right-bar) {
    width: 80px;
  }
}